.nav-menu a {
    padding: 0 18px 0px 18px;
    text-decoration: none;
    display: inline-block;
    color: #222;
    font-weight: 500;
    font-size: 1.2em;
    text-transform: uppercase;
    outline: none;
}
.my-skills {
    margin-top: 100px;
}

.section-gap {
    padding: 30px 0;
}

.mb10 {
    border-bottom: 10px solid #8490ff;
}



